@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,300;1,700;1,800&display=swap");

:root {
  --main-color: var("#2a29a7");
  --text-color: var("#FFFFFF ");
  --app-download: var("#D0D0D0");
  --app-color: var("#F9F3EA");
  --app-color: var("#F0A74A");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-family: "Be Vietnam", sans-serif;
}

body {
  text-align: center;
}
a {
  font-family: "Be Vietnam", sans-serif;
  color: #2a29a7;
}
.hero-container {
  background: url("../images/HeaderImage.png"), rgba(0, 0, 0, 0.3);
  background-blend-mode: overlay;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
  color: #fff;
  height: 70vh;
}

.equipement-search-container {
  background: url("../images/BackgroundYellow.jpg"), rgba(0, 0, 0, 0);
  background-blend-mode: overlay;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
  color: #fff;
  height: 70vh;
}
